@import '../../assets/variables.scss';

.app-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  .spinner {
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}