// colors
$header-bg: #343a40;
$header-link-active-color: #fff;
$header-link-color: grey;

$footer-bg: #282c34;
$footer-font-color: #999;

$table-th-bg: #EEE;

$default-btn-bg: #61dafb;
$default-btn-font-color: #000;
$font-color: #101010;

// other
$font-family: "Helvetica";
$content-max-width: 1200px;
